.task-title {
    padding:     5px;
    font-size: large;
    text-overflow: clip;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

.task-subject {
    min-height:     10em;
}

.task .panel-heading,.panel-footer {
    padding: 0;
}

.spacer {
    width: 100%;
    background: transparent;
    border: 0;
}

.btn-blank {
    padding: 0 17px;
}

.task .schedule {
    width: 12em;
}

.task-checked {
     padding: 5px 10px
}

.task-checked span {
     font-size: large;
}

.task-timer {
    padding: 3px 10px;
}

.task-timer span {
    font-size: large;
}
/**********************/
.task-wide {
    width: 100%;
    float: clear;
    position: relative;
}

.task-expanded {
    min-height: 102px;
}

.task-collapsed {
    height: 102px;
}

.task-wide .inside {
    height: 100%;
}

.task-wide .complete {
    width:  100px;
    height: 100px;
    float: left;
    position: relative;
}

.task-wide .complete img {
    position: absolute;
    top: 0;
    left: 0;
}
.task-wide .complete span {
    position: absolute;
    top: 30px;
    color: lightgrey;
    font-size: 40px;
    text-align: center;
    width: 100px;
}

.task-wide .timer-btn {
    margin: 0;
    font-size: 25px;
    width:  120px;
    height: 100px;
    float: right;
}

.task-wide .title {
    padding: 0 5px;
    text-align: left;
    font-size: 20px;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    height: 30px;
}

.task-wide .subject {
    padding: 0 5px;
    text-align: left;
    text-overflow: clip;
    overflow: hidden;
    display: block;
    height: 45px;
}

.task-expanded .subject {
    padding: 0 5px;
    text-align: left;
    display: block;
    min-height: 45px;
    height: auto;
}

.task-collapsed .subject {
    padding: 0 5px;
    text-align: left;
    text-overflow: clip;
    overflow: hidden;
    display: block;
    height: 45px;
}

.task-wide div.repeat {
    margin-left: 105px;
    margin-right: 125px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
    vertical-align: middle;
}

.task-wide .repeat input {
    display: inline-block;
    text-align: right;
    width: 40px;
    border: solid 1px black;
    background: none;
}

.task-wide .repeat select {
    display: inline-block;
    background: none;
}

.task-wide .duration {
    margin-left: 105px;
    margin-right: 125px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
}

.task-wide .footer {
    padding: 3px 0 5px 5px;
    height: 25px;
    display: block;
    white-space: nowrap;
    text-overflow: clip;
    overflow: hidden;
}

.task-expanded .footer {
    margin-left: 100px;
    margin-right: 120px;
    margin-bottom: 0;
}

.task-collapsed .footer {
    position: absolute;
    left: 100px;
    right: 120px;
    bottom: 0;
}

.task-wide .info {
    display: inline-block;
    text-align: left;
    float: left;
}

.task-wide .info .category {
    display: inline-block;
    min-width: 20px;
}

.task-wide .defer {
    padding: 0 5px;
    background-color: white;
    border: 1px solid lightgrey;

    display: inline-block;
    text-align: right;
    float: right;
}

.task-wide .defer .category {
    display: inline-block;
}

.task-wide .duplicate {
    color: lightgrey;
    padding: 0;
    display: block;
    position: absolute;
    left: 2px;
    top: 2px;
}
.task-wide .delete {
    color: lightgrey;
    padding: 0;
    display: block;
    position: absolute;
    left: 0;
    top: 80px;
}

.task-wide .expand {
    color: lightgrey;
    padding: 0;
    display: block;
    position: absolute;
    left: 80px;
    top: 80px;
}
/**********************/
.task-narrow {
    width: 100%;
    height: 66px;
    float: clear;

    position: relative;
    overflow: hidden;
}

.task-narrow .left-action-group {
    width: 192px;
    height: 66px;
    position: absolute;
    left: -192px;
}

.task-narrow .left-action {
    text-align: center;
    vertical-align: middle;
    font-size: 25px;

    width: 64px;
    height: 66px;
    position: relative;
}
.task-narrow .panel {
    width: 100%;
    height: 66px;
    position: absolute;
    left: 0;
}

.task-narrow .right-action-group {
    width: 128px;
    height: 66px;
    position: absolute;
    right: -128px;
}
.task-narrow .right-action {
    text-align: center;
    vertical-align: middle;
    font-size: 25px;

    width: 64px;
    height: 66px;
    position: relative;
}

.task-narrow .inside {
    height: 64px;
    position: relative;
}

.task-narrow .complete {
    width:  64px;
    height: 64px;
    float: left;
    position: relative;
}

.task-narrow .complete img {
    position: absolute;
    top: 0;
    left: 0;
}
.task-narrow .complete span {
    position: absolute;
    top: 20px;
    color: lightgrey;
    font-size: 25px;
    text-align: center;
    width: 64px;
}

.task-narrow .timer-btn {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-weight: bold;
    width:  64px;
    height: 64px;
    float: right;
    line-height: 20px;
}

.task-narrow .timer-btn .glyph {
    font-size: 20px;
}

.task-narrow .title {
    text-align: left;
    font-weight: bold;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}
.task-narrow .subject {
    text-align: left;
    text-overflow: clip;
    overflow: hidden;
    display: block;
    height: 40px;
}

.task-narrow .expand {
    font-size: small;
    font-weight: bold;
    position: absolute;
    right: 64px;
    bottom: 0;
    float: right;
    height: 25px;
    width: 64px;
}

/**********************/
.task-narrow-expanded {
    width: 100%;
    float: none;

    position: relative;
    overflow: hidden;
}

.task-narrow-expanded .panel {
    width: 100%;
}

.task-narrow-expanded .complete {
    width:  64px;
    height: 64px;
    float: left;
    position: relative;
}

.task-narrow-expanded .complete img {
    position: absolute;
    top: 0;
    left: 0;
}
.task-narrow-expanded .complete span {
    position: absolute;
    top: 20px;
    color: lightgrey;
    font-size: 25px;
    text-align: center;
    width: 64px;
}

.task-narrow-expanded .timer-btn {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-weight: bold;
    width:  64px;
    height: 64px;
    float: right;
    line-height: 20px;
}

.task-narrow-expanded .timer-btn .glyph {
    font-size: 20px;
}

.task-narrow-expanded .expand {
    font-size: small;
    font-weight: bold;
    float: right;
    height: 25px;
    width: 64px;
}

.task-narrow-expanded .label-title {
    margin-top: 5px;
}

.task-narrow-expanded .title {
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    border-radius: 3px;
    background-color: white;
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

.task-narrow-expanded .label-subject {
    clear: left;
    margin: 5px;
    display: block;
}

.task-narrow-expanded .subject {
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    border-radius: 3px;
    background-color: white;
    text-align: left;
    text-overflow: clip;
    margin: 0 5px 5px 5px;
    overflow: hidden;
    display: block;
}
.task-narrow-expanded .label-category {
    clear: left;
    margin: 5px;
    display: block;
}

.task-narrow-expanded .category {
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    border-radius: 3px;
    background-color: white;
    text-align: left;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    margin: 0 5px 5px 5px;
}

.task-narrow-expanded .label-subject {
    clear: left;
    margin: 5px;
    display: block;
}

.task-narrow-expanded .duration .timer {
    padding: 0 5px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    border-radius: 3px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin: 0 5px 5px 5px;
    float: right;
}

.task-narrow-expanded .label-duration {
    font-size: large;
    font-weight: bold;
    margin: 5px;
    margin-bottom: 7px;
    display: block;
}

.task-narrow-expanded .duration-block {
    padding: 5px;
    padding-bottom: 0;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    border-radius: 3px;
    margin: 3px 5px;
    position: relative;
}
.task-narrow-expanded .duration-block input {
    margin-bottom: 5px;
    width: 200px;
    /*width: 55%;*/
    height: 25px;
    text-align: center;
}

.task-narrow-expanded .duration-block .timer {
    margin-top: 14px;
    width: 100px;
}

.task-narrow-expanded .duration-block button {
    float: right;
    margin-top: 10px;
}

.task-narrow-expanded .duration-block .button-spacer {
    float: right;
    margin-top: 10px;
    width: 40px;
}

.task-narrow-expanded .duration-block .duration-time label {
    font-weight: bold;
    display: block;
}

.task-narrow-expanded .delete {
    margin: 0;
    width: 100%;
    text-align: right;
}
.task-narrow-expanded .delete button {
    margin: 5px;
}

/**********************/
.report {
    width: 100%;
}
.report-group {
    font-size: large;
    font-weight: bold;
}
.report-sub .title {
    padding-left: 3em;
}

.report .title {
    word-wrap: break-word;
    word-break: break-all;
}

.report .duration {
    text-align: right;
}

/**********************/
.test-task {
    height: 102px;
    float: clear;
    position: relative;
}
.test-task-inside {
    height: 100%;
}
.test-complete {
    width:  100px;
    height: 100px;
    float: left;
    position: relative;
}
.test-complete span {
    position: absolute;
    top: 30px;
    color: lightgrey;
    font-size: 40px;
    text-align: center;
    width: 100px;
}
.test-complete img {
    position: absolute;
    top: 0;
    left: 0;
}
.test-time-ctrl {
    width:  120px;
    height: 100px;
    float: right;
}
.test-title {
    padding: 5px;
    text-align: left;
    font-size: 25px;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

.test-info {
    position: absolute;
    left: 100px;
    bottom: 0;
    right: 120px;
}
.test-info-cat {
    padding: 5px;
    float: left;
}
.test-info-defer {
    padding: 5px;
    float: right;
}
.test-timer {
    padding: 5px;
    text-align: center;
    font-size: 25px;
}
.test-play {
    padding: 5px;
    text-align: center;
    font-size: 25px;
}

.test-task-sm {
    height: 66px;
    float: clear;
    position: relative;
}
.test-task-inside-sm {
    height: 100%;
}
.test-complete-sm {
    width:  64px;
    height: 64px;
    float: left;
    position: relative;
}
.test-complete-sm span {
    position: absolute;
    top: 20px;
    color: lightgrey;
    font-size: 25px;
    text-align: center;
    width: 64px;
}
.test-complete-sm img {
    position: absolute;
    top: 0;
    left: 0;
}
.test-play-sm {
    margin: 0;
    font-size: 25px;
    text-align: center;
    width: 64px;
    height: 64px;
    float: right;
}


.test-title-sm {
    text-align: left;
    font-weight: bold;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

.test-time-sm {
    padding: 0 5px;
    border: 1px solid lightgrey;
    text-align: center;
    font-size: large;
    font-weight: bold;
    position: absolute;
    right: 64px;
    bottom: 0;
    float: right;
}
