@font-face{
    font-family:    'Glyphicons Halflings';
    src:            url(../fonts/glyphicons-halflings-regular.eot);
    src:            url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),
                    url(../fonts/glyphicons-halflings-regular.woff2) format('woff2'),
                    url(../fonts/glyphicons-halflings-regular.woff) format('woff'),
                    url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'),
                    url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg');
}
* {
    box-sizing:             border-box;
    -webkit-font-smoothing: antialiased;
}

/* ======================= Sidebar ======================= */

.tz-sidebar header {
    font-size:          1.5em;
    font-weight:        bold;
    margin-bottom:      8px;
}

/* ======================= Input ======================= */
input:focus,
div.tz-input:focus {
    outline:        none;                  /* remove default blue outline */
    box-shadow:     3px 3px 8px 0 #7db9e8; /* stand out focus input with shadow */
}

/* ======================= Input Float Label ======================= */
div.tz-input-group {
    position:           relative;
    margin-bottom:      8px;
    width:              100%;
}

div.tz-input-group > input,
div.tz-input-group > div.tz-input
{
    width:              100%;
    font-size:          1.2em;
    font-weight:        normal;
    margin:             0;     /* Safari puts default margin 2px at top and bottom of input */
    padding-top:        1.2em; /* leave spave for condenced Label */
    padding-bottom:     0.1em;
    padding-left:       0.3em;
    padding-right:      0.3em;
    border-style:       solid;
    border-width:       1px;
    border-radius:      7px;
    border-color:       lightgrey;
    background-color:   white;

    -webkit-appearance: none; /* to remove shade from the top */
}

div.tz-input-group > input + label,
div.tz-input-group > .tz-input + label {
    position:           absolute;

    /* Input is empty display label as placeholder */
    top:                0.6em;
    left:               0.3em;
    font-size:          1.2em;
    font-weight:        normal;
    color:              lightgrey;
    transition:         0.2s;
}

div.tz-input-group > input:valid + label,
div.tz-input-group > .tz-input:not(:empty) + label {
    /* Input is not empty, remove label to the top */
    top:            0.2em;
    left:           0.6em;
    font-size:      0.8em;
    font-weight:    bold;
}

div.tz-input-group > input:focus + label,
div.tz-input-group > .tz-input:focus + label {
    /* Input is in focus, remove label to the top and highlight */
    top:                0.2em;
    left:               0.6em;
    font-size:          0.8em;
    font-weight:        bold;
    color:              #1e5799;
}

/* ======================= Input DateTime ======================= */
/* For iOS to remove default drop down look */
div.tz-input-group > input[type="datetime-local"] {
    font-family:        Arial, Helvetica, sans-serif;   /* For Chrome to remove monospace */
    height:             2.6em;
    display:            inline-block;                   /* For iOS to remove default drop down look */
    -webkit-appearance: none;                           /* For iOS to remove default drop down look */
}

div.tz-input-group > input[type="datetime-local"] + label {
    top:            0.2em;
    left:           0.6em;
    font-size:      0.8em;
    font-weight:    bold;
}

/* ======================= Input Multiline ======================= */
div.tz-input-group > div.tz-input.tz-multiline {
    font-family:        "Times New Roman", Times, serif;
    min-height:         5em;
}

div.tz-input-group > div.tz-input.tz-multiline p,
div.tz-input-group > div.tz-input.tz-multiline div {
  margin: 0;
}

/* ======================= Input Actions ======================= */
div.tz-input-group > a {
    position:           absolute;
    top:                0.2em;
    font-size:          0.8em;
    text-decoration:    none;
}
