.tz-sidebar.tz-task-duration > header  {
    display:            flex;
    justify-content:    space-between;
}

.tz-sidebar.tz-task-duration > section.tz-period  {
    border-style:       solid;
    border-width:       1px;
    border-radius:      7px;
    border-color:       lightgrey;

    margin-top:         8px;
    margin-bottom:      8px;

    padding:            5px;

    display:            flex;
    flex-direction:     row;
    flex-wrap:          wrap;
}

.tz-sidebar.tz-task-duration section.tz-period > input.tz-to,
.tz-sidebar.tz-task-duration section.tz-period > input.tz-from {
    font-family:        Arial, Helvetica, sans-serif;   /* For Chrome to remove monospace */
    font-size:          0.8em;
    flex-basis:         73%;

    padding-left:       3px;
    padding-right:      3px;
    padding-top:        0.6em;
    padding-bottom:     0.6em;
    margin:             0;
    height:             2.5em;

    border-style:       solid;
    border-width:       1px;
    border-radius:      3px;
    border-color:       lightgrey;

    display:            inline-block;                   /* For iOS to remove default drop down look */
    -webkit-appearance: none;                           /* For iOS to remove default drop down look */
}

.tz-sidebar.tz-task-duration section.tz-period > input.tz-to {
    order:              1;
    margin-bottom:      5px;
}

.tz-sidebar.tz-task-duration section.tz-period > input.tz-from {
    order:              3;
}

.tz-sidebar.tz-task-duration section.tz-period > span.tz-duration {
    flex-basis:         26%;
    order:              2;
    margin-top:         0;
    margin-bottom:      5px;
    margin-left:        1%;
    margin-right:       0;
    padding:            3px;
    text-align:         center;
    display:            flex;
    flex-direction:     column;
    justify-content:    center;

    border-style:       solid;
    border-width:       1px;
    border-radius:      3px;
    border-color:       grey;
}

.tz-sidebar.tz-task-duration section.tz-period > a.tz-action.tz-delete-period {
    flex-basis:         16%;
    order:              4;
    margin-top:         0;
    margin-bottom:      0;
    margin-left:        6%;
    margin-right:       5%;

    font-family:        'Glyphicons Halflings';
    text-align:         center;
    text-decoration:    none;
    padding:            0;
    display:            flex;
    flex-direction:     column;
    justify-content:    center;


    border-style:       solid;
    border-width:       1px;
    border-radius:      3px;
    border-color:       black;

    color:              #FAEBD7;//#FFFFF0;
    background:         linear-gradient(to bottom, #e5746c, #d9352a);

}

.tz-sidebar.tz-task-duration section.tz-period > a.tz-action.tz-delete-period:before {
    content:            '\e020';
}

.tz-sidebar.tz-task-duration > a.tz-action.tz-delete-task {
    font-size:          1.5em;
    font-weight:        bold;

    text-align:         center;
    text-decoration:    none;
    display:            block;

    margin-top:         1em;
    margin-bottom:      0;
    margin-left:        20%;
    margin-right:       20%;

    padding:            7px;

    border-style:       solid;
    border-width:       3px;
    border-radius:      7px;
    border-color:       black;

    color:              #FAEBD7;//#FFFFF0;
    background:         linear-gradient(to bottom, #e5746c, #d9352a);

}
